<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{{ plugin_path('Warehouse') }}/js/base.js"></script>
<script src="{{ plugin_path('Warehouse') }}/js/start.js"></script>
<link rel="stylesheet" href="{{ plugin_path('Warehouse') }}/css/basic.css">
<!-- -->
<div id='load' class="spinner" style='display: none;'>
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div class="container">
  <h1>Start</h1>
  <!-- Warehouses[0] START -->
  <div class="warehouses">
    {% if warehouses is not null %}
      {% for warehouse in warehouses %}
        <label>
          <input type="checkbox" class="warehousecheckbox" whid="{{ warehouse.id }}" > {{ warehouse.name }}

        &nbsp;</label>
      {% endfor %}
      <input type="text" class="form-control findArticle" placeholder="EAN">
      <div id="output"></div>
    {% else %}
      <p>Bitte legen Sie ein Lager an</p>
    {% endif %}
  </div>
  <!-- Warehouses[0] END -->
</div>
